{% extends 'base.html' %}
{% block title %}{{object.title}}{% endblock title %}

{% block extra_head_after_css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}entries.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/default.css">
<script type="text/javascript" src="{{STATIC_URL }}highlight.pack.js"></script> 
<script type="text/javascript">
   hljs.initHighlightingOnLoad();
</script>
{% endblock extra_head_after_css %}

{% block additional_navigation %}
    <li id="nav-blog"><a href="{% url index %}">&lt; В начало</a></li>
{% endblock additional_navigation %}

{% block content %}
<div id="post" class="section">
<div id="entry-header">
    <h1>{{ object.title }}</h1>
    <p>{{ object.date_published|date:"Y/m/d" }}&nbsp;</p>
</div>
<div id="entry-text">
    {{ object.content|safe }}
</div>
</div>
<br/>
{% endblock content %}
{% block additional_footer %}
<p>// Здесь были комментарии, но комментарии не нужны.</p>
{% endblock additional_footer %}
