{% extends 'base.html' %}
{% block title %}cramur.me -- {{object.title}}{% endblock title %}

{% block extra_head_after_css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}entries.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/default.css">
<script type="text/javascript" src="{{STATIC_URL }}highlight.pack.js"></script> 
<script type="text/javascript">
   hljs.initHighlightingOnLoad();
</script>
{% endblock extra_head_after_css %}

{% block additional_navigation %}
    <li id="nav-blog"><a href="{% url index %}">&lt; В начало</a></li>
{% endblock additional_navigation %}

{% block content %}
<div id="post" class="section">
<div id="entry-header">
    <span id="side-header" class="date box_rotate"><p>{{ object.date_published|date:"Y/m/d" }}&nbsp;</p></span>
    <h1>{{ object.title }}</h1>
</div>
<div id="entry-text">
    {#<div class="inline flushleft pullquote summary first box_rotate">{{ object.summary|safe }}</div>#}
    {{ object.content|safe }}
</div>
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = 'cra-blag'; // required: replace example with your forum shortname

/* * * DON'T EDIT BELOW THIS LINE * * */
(function() {
 var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
 dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
 (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
 })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        
{% endblock content %}
