{% extends 'base.html' %}
{% block title %}cramur.me -- {{object.title}}{% endblock title %}

{% block extra_head_after_css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}entries.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/solarized.css">
<script type="text/javascript" src="{{STATIC_URL }}highlight.pack.js"></script> 
<script type="text/javascript">
   hljs.initHighlightingOnLoad();
</script>
{% endblock extra_head_after_css %}

{% block additional_navigation %}
    <li id="nav-blog"><a href="{% url index %}">&lt; В начало</a></li>
{% endblock additional_navigation %}

{% block content %}
<div id="post" class="section">
<div id="entry-header">
    <p class="date">{{ object.date_published|date:"Y/M/d" }}</p>
    <h1>{{ object.title }}</h1>
</div>
<div id="entry-text">
    <div class="inline flushleft pullquote summary first">{{ object.summary|safe }}</div>
    {{ object.content|safe }}
</div>
{% endblock content %}
