<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" >
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <title>{% block title %}Главная страница{% endblock %} &mdash; my happy place</title>
  <link rel="stylesheet" type="text/css" href="/stl.css">
  {% block extra_head_after_css %}{% endblock %}
  {% block extra_head_before_js %}{% endblock %}
{% block base_js %}
{% endblock base_js %}
{% block extra_head_after_js %}{% endblock %}
</head>
<body bgcolor="#8CCEF7">
{% block message %}
{% if messages %}
{% for message in messages %}
<p class="{{ message.tags }}">{{ message }} {% now "d.m.Y H:i:s" %}</p>
{% endfor %}
{% endif %}
{% endblock message %}

{% block content %}
{% block main %}
<h1>Стартовая страница</h1>
{% endblock main %}
{% endblock content %}
<div id="footer">
    {% block footer %}
    {% endblock footer %}
</div>
</body></html>
