<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" >
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <title>cramur.me &mdash; {% block title %}Главная страница{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/stl.css">
  {% block extra_head_after_css %}{% endblock %}
  {% block extra_head_before_js %}{% endblock %}
{% block base_js %}
<script src="/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>
{% endblock base_js %}
{% block extra_head_after_js %}{% endblock %}
{% block google_analytics %}{% include '_tracking.html' %}{% endblock google_analytics %}
</head>
<body class="{{ body_class }}">
    <div id="header">
    {% block header %}
    <ul id="navigation">
        <!--<li><a href="/" class="logo">В начало</a></li>-->
        {#<li id="#nav-blog"><a href="{% url articles %}">Блог</a></li>#}
        <li id="#nav-blog"><a href="{% url index %}">Blag</a></li>
        <li id="#nav-blog"><a href="{% url feed %}">Feed</a></li>
        {#<li id="#nav-about"><a href="{% url about %}">Кто я</a></li>#}
        {#<li id="#nav-about"><a href="{% url about %}">Кто я</a></li>#}
        {#<li id="#nav-projects"><a href="{% url projects %}">Что я</a></li>#}
        {% block additional_navigation %}
        {% endblock additional_navigation %}
    </ul>
    {% endblock header %}
    </div>
    <div id="messages">
    {% block message %}
        {% if messages %}
            {% for message in messages %}
            <p class="{{ message.tags }}">{{ message }} {% now "d.m.Y H:i:s" %}</p>
            {% endfor %}
        {% endif %}
    {% endblock message %}
    </div>

    <div id="content">
        {% block content %}
        {% block main %}
        <h1>Стартовая страница</h1>
        {% endblock main %}
        {% endblock content %}
    </div>
    <div id="footer">
        {% block footer %}
        <!--<p><span class="quiet">Игорь Мосягин. Содержимое рекомендуется распространять по лицензии WTFPL.</span></p>-->
        {% endblock footer %}
    </div>
</body> 
</html>
