{% extends "base.html" %}
{% block title %}cramur.me{% endblock %}
{% block content_title %}cramur.me{% endblock %}

{#{% block header %}#}
{#<blockquote class="quotebig">#}
  {#<dl>#}
    {#<dt>There is a theory which states that if ever anybody discovers exactly#}
    {#what the Universe is for and why it is here, it will instantly disappear#}
    {#and be replaced by something even more bizarre and inexplicable. There is#}
    {#another theory which states that this has already happened.</dt>#}
    {#<dd class="author">#}
    {#<b><a href="http://en.wikipedia.org/wiki/Douglas_Adams">Douglas Adams</a></b><br><i>English humorist & science fiction novelist  (1952#}
      {#- 2001)</i></dd>#}
  {#</dl>#}
{#</blockquote>#}
{#{% endblock header %}#}

{% block extra_head_after_css %}
  <link rel="stylesheet" type="text/css" href="/entries.css">
{% endblock extra_head_after_css %}

{% block content %}

<div id="content-main">
<div id="articles" class="section">
    <h1>Записи</h1>
    <table class="posts-table">
{% for entry in articles %}
    <tr>
        <td class="date"><p>{{ entry.date_published|date:"Y/m/d"|lower }}</p></td>
        <td class="title"><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></td>
        <td class="summary"><p>{{ entry.summary|safe }}</p></td>
    </tr>
{% endfor %}
    </table>
</div><!--articles--></div><!--content-main-->
{% endblock content %}
