/* 6 basic colors:
 bg: #BABABA
 bg2: #454545 (too dark? use as fg?)
 headers: #224535
 color1: #479170
 color2: #264522 
 color3: #509147  */

/* RESET */
html, body, div, span, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
a, abbr, acronym, address, big, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strike, strong, sub, sup, 
tt, var, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; vertical-align: baseline; background: transparent; }
table { border-spacing: 0; border-collapse: collapse; }
caption, th, td { text-align: left; font-weight: normal; }
blockquote, q { quotes: none; }
:focus { outline: 0; }

/* BASE */

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.125em;
    background-color:#BABABA;
    color: #454545;
    min-width: 1064px;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

input,
button,
textarea {
    font-family: Helvetica, Arial, sans-serif;
}

/* LINKS */

a { 
    text-decoration: none; 
    outline: none; 
    font-weight: bold;
    color: rgb(30, 40, 30);
    color: rgba(30, 40, 30, .9);
    *color: rgb(30, 40, 30);
}

a:hover { 
   color: rgba(30, 40, 30, .65);
}

/* SECTIONS */

.section {
    overflow: hidden;
}

.section h1 {
    font-size: 3em;
    margin: 1em 0 0.5em 180px;
    line-height: 1em;
    letter-spacing: -0.05em;
    color: rgb(255, 255, 255);
}

.section h2 {
    font-size: 2.25em;
    margin: 1.1666em 0 0.666em 180px;
    letter-spacing: -0.075em;
    color: rgb(255, 255, 255);
}

.section h3 {
    font-size: 1.5em;
    margin: 1em 0 0.666em 180px;
    letter-spacing: -0.05em;
    color: rgb(255, 255, 255);
}

.section .related { 
    float: right;
    width: 164px;
}

/* GENERIC TEXT */

.generic-text {
    float: left;
    clear: left;
    width: 476px;
    padding: 0 180px;
    line-height: 1.5em;
}

.generic-text p,
.generic-text ul {
    margin-bottom: 1em;
}

.generic-text .intro {
    font-size: 1.125em;
    font-weight: bold;
}

/* POSTS TABLE */

.posts-table {
    /*background: url(../images/mask-black-25.png) repeat-x;*/
}

.posts-table td {
    padding: 1em 16px 1em 0;
    font-size: 0.75em;
    vertical-align: bottom;
    width: 148px;
    /*background: url(../images/mask-black-25.png) 0 100% repeat-x;*/
}

.posts-table td.date p,
.posts-table td.summary p {
    color: rgb(109, 116, 109);
}

.posts-table td.summary {
    width: 312px;
}

.posts-table td.date {
    width: 164px;
}

.posts-table td.title {
    width: 328px;
    padding-right: 0;
}

.posts-table td.title a {
    font-size: 3em;
    line-height: 1em;
    letter-spacing: -0.05em;
    padding-right: 16px;
    display: block;
}

div.header {
	background-color: #FF00FF;
}

blockquote.quotebig {
	border: solid 1px black;
	background-color: #FFFFFF;
	padding: 0px 30px 0px 30px;
}


