/* 6 basic colors:
 bg: #BABABA
 bg2: #454545 (too dark? use as fg?)
 headers: #224535
 color1: #479170
 color2: #264522 
 color3: #509147  */

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.125em;
    background-color:#BABABA;
    color: #454545;
    min-width: 1064px;
}

div.header {
	background-color: #FF00FF;
}

blockquote.quotebig {
	border: solid 1px black;
	background-color: #FFFFFF;
	padding: 0px 30px 0px 30px;
}

.section {
    overflow: hidden;
}

.section h1 {
    font-size: 3em;
    margin: 1em 0 0.5em 180px;
    line-height: 1em;
    letter-spacing: -0.05em;
    color: rgb(255, 255, 255);
}

.section h2 {
    font-size: 2.25em;
    margin: 1.1666em 0 0.666em 180px;
    letter-spacing: -0.075em;
    color: rgb(255, 255, 255);
}

.section h3 {
    font-size: 1.5em;
    margin: 1em 0 0.666em 180px;
    letter-spacing: -0.05em;
    color: rgb(255, 255, 255);
}

.section .related { 
    float: right;
    width: 164px;
}

/* POSTS TABLE */

.posts-table {
    /*background: url(../images/mask-black-25.png) repeat-x;*/
}

.posts-table td {
    padding: 1em 16px 1em 0;
    font-size: 0.75em;
    vertical-align: bottom;
    width: 148px;
    /*background: url(../images/mask-black-25.png) 0 100% repeat-x;*/
}

.posts-table td.date p,
.posts-table td.summary p {
    color: rgb(109, 116, 109);
}

.posts-table td.summary {
    width: 312px;
}

.posts-table td.date {
    width: 164px;
}

.posts-table td.title {
    width: 328px;
    padding-right: 0;
}

.posts-table td.title a {
    font-size: 3em;
    line-height: 1em;
    letter-spacing: -0.05em;
    padding-right: 16px;
    display: block;
}

