's|__DB_NAME__|dbname|'
's|__DB_USER__|dbuser|'
's|__DB_PASS__|dbpass|'
's|__TRACKING_ACC__|BLABLABLA|'
's|__DISQUS_SHORTNAME__|cra-blag|'
's|__MAILHOST__|example.com|'
's|__MAILUSER__|example.user|'
's|__MAILPORT__|100500|'
's|__MAILPASS__|example.pass|'
's|__ADMIN_NAME__|example_admin|'
's|__ADMIN_EMAIL__|example_admin_email|'
