/* Copyright 2008 Wilson Miner */

/* POST HEADER */

#post #entry-header {
    padding-bottom: 1em;
}

#post .date {
    padding-top: 2em;
}

p.prompt {
    font-size: 1.5em;
}

span#username {
    color: rgb(10, 5, 17);
}
span#date_published {
    color: rgb(0, 120, 0);
}

/* archive */
#dir-list li {
    list-style: none;
    display: inline;
    color: lightcyan;
    font-size: 1.5em;
}

li.files-list {
    list-style: none;
    font-size: 1.5em;
}

/* POST TEXT */

#entry-text {
    font-size: 2em;
}

#post #entry-text .caps {
    font-size: 0.9em;
}

#post #entry-text p code {
    font-size: 0.875em;
}

/* TAGS */

.tag-cloud {
    text-align: center;
    border: 1px solid #FFFF00;
    padding: 5px;
    background-color: #FFFFCC;
}

.tag-1 {    font-size: 12px;} 

.tag-2 {    font-size: 13px;} 

.tag-3 {    font-size: 14px;} 

.tag-4 {    font-size: 15px;} 

.tag-5 {    font-size: 16px;} 

.tag-6 {    font-size: 17px;} 

/* For large tag cloud 6 step */.tag-7 {    font-size: 18px;} 

.tag-8 {    font-size: 19px;}
