<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" >
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <title>cramur.me &mdash; {% block title %}Главная страница{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stl.css">
  <link href="/favicon.png" rel="icon">
  {% block extra_head_after_css %}{% endblock %}
  {% block extra_head_before_js %}{% endblock %}
{% block base_js %}
<script src="/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>
{% endblock base_js %}
{% block extra_head_after_js %}{% endblock %}
{% block google_analytics %}{% include '_tracking.html' %}{% endblock google_analytics %}
<!--[if !IE 7]>
    <style type="text/css">
        #wrap {display:table;height:100%}
    </style>
<![endif]-->
</head>
<body>
    <div id="wrap">
        <div id="header">
        {% block header %}
        {% endblock header %}
        </div>
        <div id="content">
            {% block content %}
            {% block main %}
            <h1>Стартовая страница</h1>
            {% endblock main %}
            {% endblock content %}
        </div>
    </div>
    <div id="footer">
    {% block footer %}
        {% block navigation %}
        {#<li><a href="/" class="logo">В начало</a></li>#}
        {#<li id="#nav-blog"><a href="{% url articles %}">Блог</a></li>#}
        <ul id="nav-list">
            <li><a class="nav-logolike" href={% url index %}>cramur.me</a>:</li>
            <li><a class="nav" href={% url about %}>About</a></li>
            <li><a class="nav" href={% url articles %}>Moar</a>
                <a class="nav-small" href={% url feed %}>Feed</a>
                </li>
        </ul>
        {#<li id="#nav-about"><a href="{% url contact_form %}">Contacts</a></li>#}
        {#<li id="#nav-projects"><a href="{% url projects %}">Что я</a></li>#}
        {% endblock navigation %}
    <p>(c) WTFPL {% block additional_footer %}{% endblock additional_footer %}</p>
    {% endblock footer %}
    </div>
</body> 
</html>
