{% extends 'base.html' %}
{% block extra_head_after_css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}entries.css">
{% endblock extra_head_after_css %}
{% block content %}
<div id="post" class="section">
    <div id="entry-header">
    <p class="prompt">[<span id="username">cramur</span> <span id="date_published">{{ article.date_published|date:"Y/m/d"}}</span> ~/blag]<br/>
       &nbsp;$&nbsp;ls -R archive/</p>
       <p class="prompt">archive/:</p>
       <ul id="dir-list">
           {% for y, _ in articles.items %}
           <li>{{ y }}</li>
           {% endfor %}
       </ul>
       <br/>
       {% for year, entry_list in articles.items reversed %}
       <p class="prompt">archive/{{ year }}:</p>
       <ul class="files-list">
           {% for entry in entry_list reversed %}
           <li>{{ entry.date_published|date:"Md"|lower }} &nbsp; <a href={{ entry.get_absolute_url }}>{{ entry.title }}</a></li>
           {% endfor %}
       </ul>
       <br/>
       {% endfor %}
    </div>
</div>
{% endblock content %}
