{% extends 'base.html' %}
{% block title %}{{article.title}}{% endblock title %}

{% block extra_head_after_css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}entries.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/default.css">
<script type="text/javascript" src="{{STATIC_URL }}highlight.pack.js"></script> 
<script type="text/javascript">
   hljs.initHighlightingOnLoad();
</script>
{% endblock extra_head_after_css %}

{% block content %}
{% include "_article_display.html" %}
{% endblock content %}
{% block additional_footer %}
// Здесь были коментарии, но коментарии не нужны.
{% endblock additional_footer %}
