{% extends "base.html" %}
{% load tagging_tags %}
{% block title %}cramur.me {{article.title}}{% endblock %}
{% block content_title %}cramur.me{% endblock %}

{% block extra_head_after_css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}entries.css">
{% endblock extra_head_after_css %}

{% block content %}
{% include "_article_display.html" %}
<div id="content-main">
    <div id="articles" class="section">
    </div><!--articles-->
</div><!--content-main-->

{% endblock content %}
